# Lab 2

In [2]:
import numpy as np
import pandas as pd

## Question 1

Loading `athlete_events.csv` and `noc_regions.csv` into DataFrames

In [3]:
athlete_events = pd.read_csv('data/athlete_events.csv')
noc_regions = pd.read_csv('data/noc_regions.csv')
display(athlete_events)
display(noc_regions)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

## Question 2

Print the full name of each country and the total number of gold medals won, ordered by number of gold medals won.
Use inner join with `noc_region` data.

In [4]:
# Filtering out non gold medal rows
gold_medal_count = athlete_events[athlete_events['Medal'] == 'Gold']
# Join with noc_region
gold_medal_count = gold_medal_count.merge(noc_regions)
# Aggregating gold medal counts for each region
gold_medal_count = pd.DataFrame(gold_medal_count.groupby('region')['Medal'].count())
# Sort by gold medal count
gold_medal_count.sort_values(by=['Medal'],inplace=True,ascending=False)
display(gold_medal_count)

                             Medal
region
USA                           2638
Russia                        1599
Germany                       1301
UK                             678
Italy                          575
...                            ...
Individual Olympic Athletes      1
Haiti                            1
Puerto Rico                      1
Grenada                          1
Jordan                           1

[99 rows x 1 columns]

## Question 3

Print the name of each athlete and the number of gold medals they won, sort by number of gold medals.

In [5]:
# Filtering out non gold medal rows and projection of needed columns
athlete_gold_medals = athlete_events[athlete_events['Medal'] == 'Gold'][['ID','Name','Medal']]
# Aggregating medal counts per athlete
athlete_gold_medals = pd.DataFrame(athlete_gold_medals.groupby(['ID','Name'],as_index=False).count())
# Sorting by medal count
athlete_gold_medals.sort_values(by=['Medal'],ascending=False,inplace=True)
display(athlete_gold_medals)

           ID                                 Name  Medal
7118    94406              Michael Fred Phelps, II     23
2410    33557          Raymond Clarence "Ray" Ewry     10
5046    67046   Larysa Semenivna Latynina (Diriy-)      9
6637    87390                 Paavo Johannes Nurmi      9
5207    69210       Frederick Carlton "Carl" Lewis      9
...       ...                                  ...    ...
3839    51460                       Nick E. Hysong      1
3840    51463                 Antti Abram Hyvrinen      1
3841    51514                 Caterine Ibargn Mena      1
3842    51517                       Isidoro Ibarra      1
10424  135553  Galina Ivanovna Zybina (-Fyodorova)      1

[10425 rows x 3 columns]

## Question 4

Find the correlation between number of medals and height (don't include athletes without a height or a medal)

In [6]:
# Get the medals for the athletes
medal_count = athlete_events.dropna(subset=['Height','Medal'])[['ID','Medal']]
medal_count = medal_count.groupby('ID',as_index=False).count()
medal_count.columns = ['ID','medal_count']
# Get the heights for the athletes
heights = athlete_events.dropna(subset=['Height','Medal'])[['ID','Height']].drop_duplicates()
# Combine medal count and height
height_medals = heights.merge(medal_count)
# Find correlation
correlation = height_medals['medal_count'].corr(height_medals['Height'])
print(correlation)

-0.024766580135202127

Load in `population_size.csv`

In [7]:
pop_size = pd.read_csv('data/population_size.csv',engine='python')
display(pop_size)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0,NaN
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0,NaN
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0,NaN
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0,NaN
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0,NaN

## Question 5

Compute correlation between the population of a country and the total number of medals won for each Olympic year.

*** There are irregularities between the Country Codes in the `population_size.csv` and NOC strings in `athlete_events.csv` (For example: Angola is AGO in the former but ANG in the latter, and Zimbabwe is ZIM or ZWE). These columns that have irregularities are just not included

In [167]:
# Drop population columns of non olympic years
olympic_year_pop = pop_size[['Country Code','1960','1964','1968','1972','1976','1980','1984','1988','1992','1994','1996','1998','2000','2002','2004','2006','2008','2010','2012','2014','2016']]
# Make a DataFrame with Year column instead of a column for every year
olympic_year_pop = olympic_year_pop.set_index('Country Code').stack().reset_index()
olympic_year_pop.columns = ['NOC','Year','Population']
# Change Year column to integers
olympic_year_pop['Year'] = olympic_year_pop['Year'].astype(int)

# Get medal counts by olympic year
medal_count = athlete_events[athlete_events['Year'] >= 1960][['Year','NOC','Medal']]
medal_count = medal_count.dropna(subset=['Medal'])
medal_count = pd.DataFrame(medal_count.groupby(['NOC','Year'])['Medal'].count())
medal_count = pd.DataFrame(medal_count.stack().reset_index(level=2,drop=True)).reset_index()
medal_count.columns = ['NOC','Year','Medal Count']

# Merge the two DataFrames
pop_medals = olympic_year_pop.merge(medal_count,how='outer',on=['NOC','Year']).dropna()

# Custom Function
def find_corr(df):
    return df['Medal Count'].corr(df['Population'])
display(pop_medals.groupby('Year').apply(find_corr))

Year
1960    0.258797
1964    0.297628
1968    0.259386
1972    0.247309
1976    0.678768
1980    0.005872
1984    0.298587
1988    0.279429
1992    0.357883
1994   -0.185483
1996    0.303433
1998   -0.007207
2000    0.206232
2002    0.085428
2004    0.237171
2006   -0.032923
2008    0.394415
2010    0.103365
2012    0.325235
2014   -0.011909
2016    0.281799
dtype: float64

Load `gdp.csv`

In [169]:
gdp = pd.read_csv('data/gdp.csv')
display(gdp)

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

## Question 6

Find the correlation between average GDP of a country and the total medals won

In [180]:
# Get the average GDP of each country over all the years
avg_gdp = pd.DataFrame(gdp.groupby('Country Code').mean()['Value']).reset_index()
# Get total olympic medals for each country
medal_count = pd.DataFrame(athlete_events.groupby('NOC')['Medal'].count())
medal_count = medal_count[medal_count['Medal'] > 0].reset_index()

# Join the DataFrames
gdp_medals = avg_gdp.merge(medal_count,how='right',left_on='Country Code',right_on='NOC').dropna()
# Get correlation
print(gdp_medals['Value'].corr(gdp_medals['Medal']))

0.877209127358852