# Lab 3

In [25]:
import numpy as np
import pandas as pd
import requests
from lxml import html
from pandas_datareader import data
from itertools import combinations

Go to https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average. Create a DataFrame of size (30 choose 2) = 435 rows.
That is, have a row for every combination of two stocks. The third column will be the correlation
between the price of the two stocks in 2019. Specifically, you will use pandas_datareader to read
the data about the stock prices. Finally, compute the correlation of the price between each pair of socks
and store the result in the DataFrame. You are free to use for loops, while loops, and so on. The
resulting DataFrame should be sorted by the correlation value in descending order, that is, the first row
should contain the two stocks with the highest correlation.

Scrape Wikipedia page for stock names:

In [3]:
pageContent = requests.get('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')
tree = html.fromstring(pageContent.content)
companies = tree.xpath('//table/tbody/tr/td[3]/*/text()')
companies = list(filter(lambda x: x != 'NYSE', companies))
print(companies)

['MMM', 'AXP', 'AAPL', 'BA', 'CAT', 'CVX', 'CSCO', 'KO', 'DOW', 'XOM', 'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'MCD', 'MRK', 'MSFT', 'NKE', 'PFE', 'PG', 'RTX', 'TRV', 'UNH', 'VZ', 'V', 'WMT', 'WBA', 'DIS']

Get stock prices for each company

In [19]:
stock_prices = []
for company in companies:
    stock_price = data.DataReader(company, 'yahoo', start='2019', end='2020')
    stock_prices.append({company:stock_price['Close']})
stock_prices = {k: v for d in stock_prices for k,v in d.items()} # turn into single dictionary

Create DataFrame

In [24]:
df = pd.DataFrame(stock_prices)
display(df)

,MMM,AXP,AAPL,BA,CAT,CVX,CSCO,KO,DOW,XOM,...,PFE,PG,RTX,TRV,UNH,VZ,V,WMT,WBA,DIS
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,190.949997,95.680000,157.919998,323.809998,126.379997,110.690002,42.950001,46.930000,NaN,69.690002,...,43.250000,91.279999,68.156075,117.370003,243.490005,56.020000,132.919998,93.339996,68.040001,108.970001
2019-01-03,183.759995,93.430000,142.190002,310.899994,121.510002,108.570000,41.070000,46.639999,NaN,68.620003,...,42.040001,90.639999,65.122719,115.260002,236.850006,56.220001,128.130005,92.860001,67.330002,106.330002
2019-01-04,191.320007,97.639999,148.259995,327.079987,128.149994,110.820000,42.919998,47.570000,NaN,71.150002,...,43.000000,92.489998,67.350533,118.680000,239.619995,56.360001,133.649994,93.440002,69.570000,109.610001
2019-01-07,190.880005,98.169998,147.929993,328.109985,128.229996,112.260002,43.209999,46.950001,NaN,71.519997,...,43.230000,92.120003,67.319069,118.300003,240.080002,56.720001,136.059998,94.540001,69.970001,110.559998
2019-01-08,191.679993,98.650002,150.750000,340.529999,129.770004,111.769997,43.560001,47.480000,NaN,72.040001,...,43.430000,92.459999,68.533669,117.839996,243.289993,58.380001,136.800003,95.199997,71.370003,111.419998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,176.679993,124.739998,284.269989,333.000000,147.479996,120.339996,47.779999,54.709999,54.900002,70.019997,...,39.290001,125.220001,94.128380,135.830002,294.540009,61.279999,187.570007,119.510002,58.349998,145.289993
2019-12-26,176.589996,125.410004,289.910004,329.920013,148.220001,120.599998,47.849998,55.020000,55.220001,70.129997,...,39.380001,125.220001,94.845818,136.289993,295.649994,61.290001,189.160004,119.519997,58.900002,145.699997
2019-12-27,177.259995,125.190002,289.799988,330.140015,148.279999,120.300003,47.770000,55.349998,54.830002,69.889999,...,39.320000,126.089996,94.575203,136.800003,295.970001,61.529999,189.389999,119.589996,59.020000,145.750000
2019-12-30,175.830002,124.300003,291.519989,326.399994,147.520004,119.849998,47.590000,55.270000,54.340000,69.480003,...,38.910000,124.470001,94.323471,136.490005,293.850006,61.209999,187.830002,119.400002,58.910000,143.770004
2019-12-31,176.419998,124.489998,293.649994,325.760010,147.679993,120.510002,47.959999,55.349998,54.730000,69.779999,...,39.180000,124.900002,94.247955,136.949997,293.980011,61.400002,187.899994,118.839996,58.959999,144.630005

Get every combination of companies and find the correlation

In [29]:
result = []
for pair in combinations(companies,2):
    correlation = df[pair[0]].corr(df[pair[1]])
    row = [pair[0],pair[1],correlation]
    result.append(row)

Create DataFrame using correlations

In [34]:
columns = ['stock 1','stock 2','correlation']
corr_df = pd.DataFrame(result,columns=columns).sort_values(by='correlation',ascending=False)
display(corr_df)

    stock 1 stock 2  correlation
376    MSFT       V     0.970061
404      PG     WMT     0.953592
69     AAPL     JPM     0.950713
403      PG       V     0.944156
371    MSFT      PG     0.942652
..      ...     ...          ...
183      KO     XOM    -0.754154
211     DOW     MCD    -0.766922
355     MCD     WBA    -0.798374
418     TRV     WBA    -0.821114
6       MMM      KO    -0.834553

[435 rows x 3 columns]